html,
body {
  background-color: var(--black);
  color: var(--white);
  font-family:
          neue-haas-grotesk-display,
          -apple-system,
          BlinkMacSystemFont,
          Segoe UI,
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          Fira Sans,
          Droid Sans,
          Helvetica Neue,
          sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  overscroll-behavior-y: none;
  padding: 0;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
    color: var(--orange);
}

* {
  box-sizing: border-box;
}

span.source {
    color: var(--orange);
    display: inline-block !important;
    font-family: 'Source Serif 4', serif;
    font-style: italic;
    font-size: 50% !important;
    margin-left: 2.2vw;
    text-transform: lowercase !important;
}

strong.source {
    font-family: 'Source Serif 4', serif;
    font-style: italic;
    font-weight: inherit;
    margin-inline: 0.05em;
    text-transform: initial;
    /*opacity: 0.6;*/
}

a.inlineLink { display: inline !important; }

a.underlinedLink { text-decoration: underline }

.cursor {
    align-items: center;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: row;
    position: fixed;
    justify-content: center;
    left: 0;
    top: 0;
    /* background-color: var(--orange); */
    z-index: 999;
    pointer-events: none;
    transform: translate(-50%, -50%);
    text-align: center;
}

.cursorText {
    color: var(--black);
    flex: auto;
    font-size: 19px;
    font-style: italic;
    /* font-family: 'Source Serif 4', serif; */
    font-weight: bold;
    letter-spacing: 0.02em;
    pointer-events: none;
    position: absolute;
    margin: auto;
    width: 100%;
}

@media (max-width: 844px) {
    .cursor {
        display: none;
    }
}

:root {
    --black: #000;
    --half: #575757;
    --light: #eee;
    --white: #fff;
    --orange: #FF9300;
    --peach: #FF6666;
    --skin: #fdab5c;
    --red: #ec2626;
}